{
  "bot_name": "Bot name",
  "bot_token": "from @BotFather",
  "convert_workers": 5,
  "download_workers": 5,
  "proxy": {
    "status": true,
    "type": "http",
    "host": "127.0.0.1",
    "port": 10803,
    "username": "",
    "password": ""
  }
}